

.start-menu-container{
    position: absolute;
    width: 245px;
    background: var(--start-menu-bg);
    height: 320px;
    bottom: 30px;
      border: 2px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #505050;
    box-shadow: 2px 2px 0 #00000040;
    font-family: 'Microsoft Sans Serif', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    z-index: 20;
    overflow: visible;
    cursor: default;

}

.windows-95-logo-container {
 position: absolute;
 top: 0;
 left: 0; 
  width: 30px; 
  height: 320px; 
  background: var(--start-menu-side-logo);
 writing-mode: vertical-lr;
  text-orientation: mixed;
   transform: rotate(180deg);
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 2;
}

.windows-95-logo-container a {
    margin: 10px;
}

.windows-95-logo-container b {
    font-family: Arial;
}

.menu-item {
    border: none;
    outline: none;
    cursor: default;
}

.menu-item p {
    min-width: 150px;
    padding: 0;
}

.windows-menu-nav {
    position: absolute;
    width: 100%;
    flex: 1;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
    
}

.bottom-menu {
    border-top: 1px solid white;
}

.top-menu{
    border-bottom: 1px solid gray;
}

.top-menu a,
.bottom-menu a{
    display: flex;
    align-items: center;
    padding:0 30px;
    margin: 0;
    text-decoration: none;
    color: black;    
    width: 74%;
    font-size: 14px;
    cursor: default;
}

.windows-95-logo-container a {
    color: var(--start-menu-bg);
    font-weight: bold;
    font-size: 1.5em;
        
}

.windows-menu-nav div a:hover {
    background: var(--bg-hover);
    color: var(--start-color-hover);
}

.logo-text {
    text-decoration: none;
}

.start-img {
    width: 45px;
    height: auto;    
    margin-right: 5px;
    object-fit: contain;
    flex-shrink: 0;
    display: block;
}

.start-img.documents {
    transform: scale(0.7);
}

.start-text{
    display: flex;
    position: relative;
    width: 70%;
    justify-content: space-between;
}

.start-text span {
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.start-text p {
    margin-right: -5px;
}


.start-img.programs {
    transform: scale(1.6);
    
}

.menu-item.programs:hover > .submenu {
    display: block;
}

.menu-item.settings:hover > .submenu {
    display: block;
}

.submenu {
 display: none;
  background: #c0c0c0;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 2px 2px 0 #00000040;
  padding: 4px 0;
  min-width: 180px;
}

.submenu a {
  display: block;
  padding: 4px 12px;
  color: black;
  text-decoration: none;
}


.submenu.programs {
  position: absolute;
  top: 0;
  left: 240px;
}

.submenu.settings {
    position: absolute;
    top: 98px;
    left: 240px;
}

.submenu a:hover {
  background: #000080;
  color: white;
}

