:root {
  font-family: sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #096666;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/*Footer*/

--footer-background: rgb(196, 196, 196);
--footer-top-highlight: lightgray;
--start-menu-bg: rgb(182, 182, 182);
--start-menu-side-logo: gray;

/*Start Menu*/
--bg-hover: rgb(15, 56, 119);
--start-color-hover: white;
}

body{
  margin: 0;
}
