.navbar-container{
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    cursor: default;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.desktop-text-container {  
    max-width: 80px;
    height: 30px;    
}


.nav-link-container img {
    width: 40px;
    margin-bottom: 2px;
}

.nav-link-container p {
    font-size: 0.7em;   
    margin: 0;
    text-align: center;
}

.nav-link-container p:active {
    border: 1px dotted white;
}